#modules
node_modules/

#dev dir
/data
/config
/coverage

/docker/certs
/docker/mongodb/config.mongodb.env
/docker/netvis/config.json
/docker/traefik/config/*

/docker/docker-compose-trafik.yml
/docker/docker-compose.dev.yml

Dockerfile.dev