#modules
node_modules/

#dev dir
/data
/config
/coverage

/docker/volumes/certs
/docker/volumes/mongodb/config/mongodb.env
/docker/volumes/netvis/config/config.json
/docker/volumes/traefik/*

/docker/docker-compose-trafik.yml
/docker/docker-compose.dev.yml

Dockerfile.dev